doctype 5
html
	head
		title= title
		//link(href='http://fonts.googleapis.com/css?family=Noto+Sans', rel='stylesheet', type='text/css')
		link(href='/stylesheets/bootstrap.min.css', rel='stylesheet')
		link(rel='stylesheet', href='/stylesheets/chosen.css')
		link(rel='stylesheet', href='/stylesheets/datepicker.css')
		script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js');
		script(type='text/javascript', src='/js/bootstrap.min.js');
		script(type='text/javascript', src='/js/bootstrap-datepicker.js');
		script(type='text/javascript', src='/js/chosen.js');
		script(type='text/javascript', src='/js/jquery.confirm.js');
		script(type='text/javascript', src='/js/app.js');
		link(rel='stylesheet', href='/stylesheets/style.css')
	body