		html, body {
			min-width: 800px;
			width: 100%;
			font-family: 'Noto Sans', sans-serif;
		}

		/* Left */
		.left-sticky {
			position: fixed;
			left:0px;
			top: 0px;
			bottom:0px;
			width: 20%;
			width: -moz-calc(250px);
			width: calc(250px);
			z-index: 100;
			background: #222;
			color: white;
			height: 100%;
		}
		.left-sticky > .content {
			padding-left: 10px;
		}
		.outer-scroll {
			overflow: hidden;
			height: 100%;
		}
		.inner-scroll {
			overflow-y: scroll;
			width: 125%;
			width: calc(265px);
			height: 100%;
		}
		.left-sticky > .top {
			background: white;
		}
		.left-sticky > .top > img {
			height: 40px;
			display:block;
			margin: 0 auto;
			background: white;
		}

		/* Right */
		.right-body {
			position: absolute;
			width: 100%;
			width: -moz-calc(100% - 250px);
			width: calc(100% - 250px);
			min-width: 600px;
			min-height:100%;
			background: #eee;
		}
		.right-body > .top-sticky {
			width:100%;
			width: -moz-calc(100%);
			width: calc(100%);
			height: 40px;
			line-height: 40px;
			background: #fff;
			position: fixed;
			top: 0px;
		}
		.right-body > .content {
			padding:15px;
			margin-top: 40px;
		}

		/* Utility */
		.left-push {
			left: 20%;
			left: -moz-calc(250px);
			left: calc(250px);
		}
		.padded-left {
			padding-left:5px;
		}
		.bigger {
			font-size: 1.3em;
		}
		.box-size {
			-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
			-moz-box-sizing: border-box;    /* Firefox, other Gecko */
			box-sizing: border-box;         /* Opera/IE 8+ */
		}
		.dark-bottom-border {
			border-bottom: 1px solid #999;
		}


		/*******************
		 * GOAL CONTAINER  *
		 *******************/
		 .goal-children {
		 	margin-left: 15px;
		 }
		 .goal-container {
		 	margin-top: 5px;
		 	margin-bottom: 3px;
		 	line-height:1.2em;
		 }
		 .goal-children {
		 	margin-top: 3px;
		 }
		 .goal-children.well {
		 	margin-top: 3px;
		 	padding-top: 3px;
		 	padding-bottom: 5px;
		 }
		 .overdue-true > span {
		 	color: #b94a48;
		 }
		 .complete-true > span {
		 	color: #468847;
		 }
		 .users {
		 	margin-left: 10px;
		 }
		 .users > span {
		 	padding: 1px 5px;
		 	border:1px solid #ccc;
		 	border-radius: 1em;
		 	color: #3a87ad;
		 	cursor: pointer;
		 }