		html, body {
			min-width: 800px;
			width: 100%;
			font-family: 'Noto Sans', sans-serif;
		}

		/* Left */
		.left-sticky {
			position: fixed;
			left:0px;
			top: 0px;
			bottom:0px;
			width: 20%;
			width: -moz-calc(250px);
			width: calc(250px);
			z-index: 100;
			background: #222;
			color: white;
			height: 100%;
		}
		.left-sticky > .content {
			padding-left: 10px;
		}
		.outer-scroll {
			overflow: hidden;
			height: 100%;
		}
		.inner-scroll {
			overflow-y: scroll;
			width: 125%;
			width: calc(265px);
			height: 100%;
		}
		.left-sticky > .top {
			background: white;
		}
		.left-sticky > .top > a > img {
			height: 40px;
			display:block;
			margin: 0 auto;
			background: white;
		}

		/* Right */
		.right-body {
			position: absolute;
			width: 100%;
			width: -moz-calc(100% - 250px);
			width: calc(100% - 250px);
			min-width: 600px;
			min-height:100%;
			background: #eee;
		}
		.right-body > .top-sticky {
			width:100%;
			width: -moz-calc(100%);
			width: calc(100%);
			height: 40px;
			line-height: 40px;
			background: #fff;
			position: fixed;
			top: 0px;
		}
		.right-body > .body-clear {
			margin-top: 40px;
		}
		.right-body > .content {
			padding:0px 15px;
		}

		/* Utility */
		.left-push {
			left: 20%;
			left: -moz-calc(250px);
			left: calc(250px);
		}
		.padded-left {
			padding-left:5px;
		}
		.bigger {
			font-size: 1.3em;
		}
		.box-size {
			-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
			-moz-box-sizing: border-box;    /* Firefox, other Gecko */
			box-sizing: border-box;         /* Opera/IE 8+ */
		}
		.dark-bottom-border {
			border-bottom: 1px solid #999;
		}

		.content > .wrap {
			padding-top: 40px;
		}
		/*******************
		 * PROJ CONTAINER  *
		 *******************/
		 .projects > .project {
		 	float:left ;
		 	margin: 20px 40px 20px 0px;
		 }

		/*******************
		 * GOAL CONTAINER  *
		 *******************/
		 .goal-children {
		 	margin-left: 15px;
		 }
		 .goal-container {
		 	margin-top: 5px;
		 	margin-bottom: 3px;
		 	line-height:1.2em;
		 }
		 .goal-children {
		 	margin-top: 3px;
		 }
		 .goal-children.well {
		 	margin-top: 3px;
		 	padding-top: 3px;
		 	padding-bottom: 5px;
		 }
		 .overdue-true > span {
		 	color: #b94a48;
		 }
		 .complete-true > span {
		 	color: #468847;
		 }
		 .users {
		 	margin-left: 10px;
		 }
		 .users > span {
		 	padding: 1px 5px;
		 	border:1px solid #ccc;
		 	border-radius: 1em;
		 	color: #3a87ad;
		 	cursor: pointer;
		 }
		 .pointer {
		 	cursor: pointer;
		 }
		 /********************
		 *      TOOLBAR      *
		 ********************/
		 .toolbar {
		 	position: fixed;
		 	width: 100%;
		 }
		 .toolbar, .toolbar > div {
		 	background: #ccc;
		 	margin: 0px;
		 	line-height: 40px;
		 	padding-left: 15px;
		 	margin-left: -15px;
		 	margin-right: -15px;
		 }
		 .toolbar > .btn {
		 	margin-right: 15px;
		 }
		 .toolbar .close {
		 	padding-right: 20px;
		 }
		 .toolbar .close.large {
		 	line-height: 80px;
		 }
		 .toolbar .close.small {
		 	line-height: 40px;
		 }
		 .toolbar form {
		 	margin: 0px;
		 }
		 .toolbar > .sub {
		 	border-top: 1px solid #bbb;
		 	padding-bottom: 1px;
		 }
		 .toolbar input {
		 	margin-bottom: 0px;
		 }
		 .toolbar > .sub .btn {
		 	margin-left: 7px;
		 }
		 .fullview-container .highlight.on {
		 	background: yellow;
		 	cursor: pointer;
		 }
		 .icon-ban-circle.offset {
		 	position: relative;
			top: -20px;
			left: -16px;
		 }

		/*
		 *    
		 *    credit: Rasmus Burkal, @rabu81
		 *            Drew Miller, @mewdriller
		*/
		ul.chzn-choices {
		    -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
		       -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
		        -ms-transition: border linear 0.2s, box-shadow linear 0.2s;
		         -o-transition: border linear 0.2s, box-shadow linear 0.2s;
		            transition: border linear 0.2s, box-shadow linear 0.2s;
		    border-radius: 4px;
			border: 1px solid #ccc !important;
			margin-left: 3px !important;
		}
		div.error div.controls div.chzn-container ul.chzn-choices {
		    border-color: #B94A48;
		}
		div.error div.controls div.chzn-container-active  ul.chzn-choices {
		    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(185, 74, 72, 0.6);
		       -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(185, 74, 72, 0.6);
		            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(185, 74, 72, 0.6);
		}
		div.controls ul.chzn-choices {
		    border-color: #ccc;
		    -webkit-border-radius: 3px;
		       -moz-border-radius: 3px;
		            border-radius: 3px;
		}
		div.chzn-container-active  ul.chzn-choices {
			border: 1px solid;
		    border-color: rgba(82, 168, 236, 0.8);
		    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
		       -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
		            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
		}
		div.chzn-container a.chzn-single {
		    font-size: 14px;
		    line-height: 20px;
		    height: 24px;
		    padding-top: 4px;
		}
		div.chzn-container a.chzn-single div b {
		    background-position: 0 2px;
		}
		div.chzn-container-active a.chzn-single-with-drop div b {
    		background-position: -18px 3px;
		}
		div.chzn-container-single div.chzn-search input {
		    border: 1px solid #aaa;    
		    font-size: 13px;
		    line-height: normal;
		    height: auto;
		    -webkit-border-radius: 0;
		       -moz-border-radius: 0;
		            border-radius: 0;
		    -webkit-transition: none;
		       -moz-transition: none;
		        -ms-transition: none;
		         -o-transition: none;
		            transition: none;
		    -webkit-box-shadow: none;
		       -moz-box-shadow: none;
		            box-shadow: none;
		}
		div.chzn-container-multi ul.chzn-choices li.search-choice {
		    font-size: 14px;
		    line-height: 14px;
		}
		div.chzn-container {
			width: 284px !important;
			margin-left: -3px;
			padding-right: 3px;
			font-size: 14px;
		}
		input[type="radio"], input[type="checkbox"] {
			margin-top: -2px;
		}