extends layout

block content
	-if (overdue)
		h1 Overdue Alert
		!= overdue
	-else
		p(class='text-success well') No goals you own are overdue. Great job!
	-if (goaltree)
		h1 Full View
		!= goaltree