include partials/head
.left-sticky
	.top
		img(src='/images/persona.png')
	.content.outer-scroll
		.inner-scroll
			h1.dark-bottom-border Dashboard
			ul
				li
					a(href='/user/home') Your Goals
				li 
					a(href='/logout') Logout
.right-body.left-push
	.top-sticky.left-push
		span.bigger.padded-left #{title}
	.body-clear
	.content
		.toolbar
			include partials/toolbar
		block content