include partials/head
.left-sticky
	.top
		a(href="/user/home")
			img(src='/images/persona.png')
	.content.outer-scroll
		.inner-scroll
			h1.dark-bottom-border Dashboard
			ul
				li
					a(href='/user/home') Your Home
				li 
					a(href='/logout') Logout
.right-body.left-push
	.top-sticky.left-push
		span.bigger.padded-left #{title}
	.body-clear
	.content
		-if (typeof(render_goal_toolbar) !== 'undefined') {
		.toolbar
			include partials/toolbar
		-}
		-if (typeof(render_project_toolbar) !== 'undefined') {
		.toolbar
			include partials/project_toolbar
		-}
		.wrap
			block content